<!-- 


        </div>
      </main>
    </div>
  </div> -->

  <mat-toolbar color="primary" *ngIf="authService.userData as user">
    <img mat-card-avatar src="{{user.photoURL}}" [matMenuTriggerFor]="menu">
    <!-- <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Menu</button> -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="authService.SignOut()">Log out</button>
    </mat-menu>
  </mat-toolbar>

  <div class="wrapper">
    <mat-card>
      <div class="inner-wrapper">
        <div class="user" *ngIf="authService.userData as user">
          <!-- <div class="user-image">            
            <img src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
              alt="{{user.displayName}}">
          </div> -->
          <div class="user-details">
            <h1>Hello <strong>{{(user.displayName) ? user.displayName : 'User'}}!</strong></h1>
            <p>User ID: <strong>{{user.uid}}</strong></p>
            <p>Email: <strong>{{user.email}}</strong></p>
            <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
          </div>
        </div>
      </div>
    </mat-card>
  </div>